body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#back {
    /* background-image: url(side.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(hr.jfif);
    background-position: center;
    width: auto;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

#road {
    background-image: url(road.jpg);
}

#img {
    width: 150px;
}

#dbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    margin: 5px;
    width: 100px;
    font-size: 30px;
    background-color: yellow;
    margin-top: 30px;
}

@media only screen and (max-width:600px) {
    #back {
        background-image: url(bh.jfif);
        background-position: center;
    }
}

h1 {
    animation-name: h1;
    animation-duration: 0.6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes h1 {
    from {
        color: blue;
    }
    to {
        color: white;
    }
}

h2 {
    color: #fff;
    padding-bottom: 6px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

h2 {
    animation-name: h2;
    animation-duration: 0.6s;
    animation-timing-function: initial;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

h1 {
    text-align: center;
    margin: 20px 10px;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
}

@keyframes h2 {
    from {
        color: rgb(255, 0, 0);
    }
    to {
        color: white;
    }
}